body {
    color: #777777;
    background-color: #ffffff;
    font-size: 22pt;
}

#main-header {
    background-color: #ffffff;
    padding: 10px 10% 20px;
    font-size: 18pt;
}

#main-header::after {
    content: "";
    display: block;
    clear: both;;
}

#header-name {
    float: left;
    color:  #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    background-color: #4aaaa5;
    font-size: 24pt;
}

#small-header-pic {
    margin: 4px;
    border-radius: 10px;
}

.header-links {
    float: right;
    color: #777777;
    text-align:  center;
    list-style-type: none;
    padding: 0, 20px;
}

li {
    float: left;
    width: 80px;
}

#main-content {
    min-height: 960px;
    margin-top: 0;
    background-image: url(images/light-veneer.png);
}

#main-content-portal {
    background-color:  #ffffff;
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    border-radius: 25px;
    padding-bottom: 15px;
}

#main-content-heading {
    padding-top: 10px;
    display: block;
    font-size: 1.5em;
    padding-left: 5%;
}

#photo-head {
    height: 200px;
    width: 200px;
    margin: 10px;
    position: relative;
    float: left;
}

#summary {
    margin-block-start: 20px;
    margin-left: 50px;
    overflow: auto;
    max-height: 860px;
}

#project-pictures {
    overflow: auto;
    max-height: 860px;
}

#summary::after {
    content: "";
    display: block;
    clear: both;
}

#lifes-work {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14pt;
    overflow: auto;
}

#main-content-main {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14pt;
}

.input-prompt-text {
    margin-top: 1%;
    padding-left: 5%;
}

#biography {
    width: 60%;
    margin-top: 15px;
    margin-left: 30px;
    float: left;
}

#biography-rest {
    margin-block-start: 20px;
    margin-left: 50px;
    line-height: 1.5;
    padding-bottom: 5%;
}

input {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#message-input {
    height: 400px;
}

.port-pic {
    width: 300px;
    height: 300px;
    border: 10px;
    border-color: aqua;
    margin: 2% 10%;
}

footer {
    background-color:#666666;
    height: 15px; 
    text-align: center; 
    margin-top: 5px;
    font-size: 12pt;
    padding-top: 2%;
    padding-bottom: 1%;
}

@media screen and (max-width: 970px) {
    .port-pic {
        width: 250px;
        height: 250px;
        border: 5px;
        border-color: aqua;
        margin: 2% 7%;
    }    
}

@media screen and (max-width: 768px) {
    .port-pic {
        width: 200px;
        height: 200px;
        border: 5px;
        border-color: aqua;
        margin: 2% 10%;
    }    
}